html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, rgb(122, 122, 234), white);
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}

img {
    width: 300px;
    border-radius: 150px;
    margin-right: 20px;  
}

.TitleContainer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.TitleContainerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    font-size: 6em;
    font-weight: bold;
    color: rgb(248, 213, 12);
    text-shadow: 2px 2px 5px rgb(37, 36, 36);
    margin-bottom: 3px;
}

nav {
    margin-top: 11px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 0 18px;
}

nav ul li a {
    font-size: 2em; 
    text-decoration: none; 
    color: #420580;
}

nav ul li a:hover {
    color: #f7090d;

}

.ContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
    padding: 20px;
}

.AbouMe, .Work, .ContactMe {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 20px;
    padding: 20px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.AboutMe h1, .Work h1, .ContactMe h1 {
    font-size: 2em;
    color: rgb(13, 1, 1)
}

.AboutMe p, .ContactMe p {
font-size: 1em;
line-height: 1.5;
margin-top: 8px;
}


.Work img {
width: 300px;
height: 300px;
border-radius: 0;
margin-top: 2px;
}